# Cache files
__pycache__/
.pyc
.DS_Store

# Project-specific ignores
*.bin
*.ld
*.o
*.z64
asm/
assets/
build/
include/ld_addrs.h
expected/
permuter_settings.toml
.ninja_log
build.ninja


# Tool artifacts
undefined_funcs_auto.txt
undefined_syms_auto.txt
.splache
ctx.c